* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}


html {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(./image/Fidget-spinner.gif) center no-repeat #fff;
}


/* header */

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    z-index: 888;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #65ddbf, #ffffff);
}

nav {
    width: 90%;
    /* padding-top: 20px; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    /* color: #05f7ba; */

    font-weight: 900;
    font-size: 18px;
}

.menu {
    display: none;
}

.menu:hover {
    cursor: pointer;
}

.nav-close {
    width: 20px;
    height: 20px;
    margin-left: 29px;
    margin-bottom: 20px;
    display: none;
}

.nav-close:hover{
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;

}

.nav-right {
    display: flex;
    gap: 40px;
}

nav ul li {
    margin-left: 30px;

}

nav ul li:hover {
    transform: scale(1.1);
}

nav ul li a {
    font-weight: 600;
    color: #151515;
}

nav ul li a:hover {

    color: #05f7ba;
    cursor: pointer;
}

/* .toggler {
    display: flex;
    align-items: center;
}


.dark-mode-btn{
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;

}
.toggle-circle{
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
} */

/* intro */

#intro {
    background: #151515 url(./image/bg1.jpg) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    text-align: center;
    overflow: hidden;
}

.intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111111;
    opacity: .85;
}

.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 99;
    position: relative;
    transform: translateY(-2.1rem);
}

.intro-content h1 {
    color: #FFFFFF;
    max-width: 900px;
    font-size: 60px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.intro-content h5 {
    color: #05f7ba;
    font-size: 35px;
    line-height: 1.5;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.intro-content .intro-position {
    font-family: "lora-regular", serif;
    font-size: 1.7rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #FFFFFF;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.intro-content .intro-position span {
    display: inline-block;
}

.intro-content .intro-position span::after {
    content: "|";
    text-align: center;
    display: inline-block;
    padding: 0 8px 0 14px;
    color: rgba(255, 255, 255, 0.3);
}

.intro-content .intro-position span:first-child::before {
    content: "|";
    text-align: center;
    display: inline-block;
    padding: 0 14px 0 8px;
    color: rgba(255, 255, 255, 0.3);
}

.intro-content .button {
    color: #FFFFFF;
    border-color: rgba(255, 255, 255, 0.3);
    height: 70px;
    line-height: 60px;
    padding: 0 3.5rem 0 3rem;
    margin-top: 27px;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 4px;
    border: 1px solid white;
}

.intro-content .button:hover,
.intro-content .button:focus {
    border-color: #05f7ba;
}

/* intro social */
.intro-social {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 3rem;
    font-size: 40px;
    margin: 0;
    padding: 0;
    z-index: 555;
}

.intro-social li {
    display: inline-block;
    margin: 0 20px;
    padding: 0;
}

.intro-social li a,
.intro-social li a:visited {
    color: #FFFFFF;
}

.intro-social li a:hover,
.intro-social li a:focus {
    color: #05f7ba;
    cursor: pointer;
}

/* about */
#about {
    background: #FFFFFF;
    padding-top: 6rem;
    padding-bottom: 6rem;
    max-width: 900px;
    margin: auto;
}

#about .section-intro {
    text-align: center;
    margin-bottom: 3rem;

}

.section-intro>h5 {
    font-family: sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
    text-align: center;
    color: #05f7ba;
}

.intro-info {
    margin-top: 2.2rem;
    /* margin-right: -30px;
	margin-left: -30px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-info img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    margin: .9rem 0 0 0;

}

.intro-info .lead {
    text-align: left;
    padding-left: 5rem;
}

.about-skills {
    display: flex;
    justify-content: space-around;
}

.about-content {
    position: relative;
    text-align: left;
    max-width: 850px;
    margin-bottom: 3.6rem;
}

.about-content>h3 {
    font-family: sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
    padding-bottom: 50px;
    color: #05f7ba;
}

.about-content .info-list {
    list-style: none;
    margin-left: 0;
}

.about-content .info-list li {
    padding: 0 0 1.5rem 0;
    margin-bottom: .6rem;
}

.about-content .info-list li strong {
    font-family: sans-serif;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.1rem;
    line-height: 2rem;
}

.about-content .info-list li span {
    display: block;
    font-family:  sans-serif;
    color: #888888;
    font-size: 1.1rem;
    line-height: 1;
}

.about-content .skill-bars {
    margin-top: 6rem;
}

.button-hire {
    text-align: center;
}

.button-hire button {
    width: 190px;
    border: 4px solid #2B283A;
    padding: 15px 20px;

}

.button-hire button:focus,
.button-hire button:hover {
    border-color: #05f7ba;
    cursor: pointer;
}

.button-hire a {
    color: #2B283A;
    font-size: 1rem;
    font-weight: 700;

}

.skiils {
    width: 50%;
}

.skiils h3 {
    color: #05f7ba;
    letter-spacing: .25rem;
    text-transform: uppercase;
}


.skill-bars {
    list-style: none;
    margin: 6rem 0 3rem;
}

.skill-bars li {
    height: .4rem;
    background: #a1a1a1;
    width: 100%;
    margin-bottom: 4.65rem;
    padding: 0;
    position: relative;
}

.skill-bars li strong {
    position: absolute;
    left: 0;
    top: -3rem;
    font-family:  sans-serif;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.2rem;
    line-height: 2.4rem;
}

.skill-bars li .progress {
    background: #313131;
    position: relative;
    height: 100%;
}

.skill-bars li .progress span {
    position: absolute;
    right: 0;
    top: -3.6rem;
    display: block;
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
    line-height: 1;
    background: #313131;
    padding: .6rem .6rem;
    border-radius: 3px;
}

.skill-bars li .progress span::after {
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -5px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #313131;
    content: "";
}

.skill-bars li .percent5 {
    width: 5%;
}

.skill-bars li .percent10 {
    width: 10%;
}

.skill-bars li .percent15 {
    width: 15%;
}

.skill-bars li .percent20 {
    width: 20%;
}

.skill-bars li .percent25 {
    width: 25%;
}

.skill-bars li .percent30 {
    width: 30%;
}

.skill-bars li .percent35 {
    width: 35%;
}

.skill-bars li .percent40 {
    width: 40%;
}

.skill-bars li .percent45 {
    width: 45%;
}

.skill-bars li .percent50 {
    width: 50%;
}

.skill-bars li .percent55 {
    width: 55%;
}

.skill-bars li .percent60 {
    width: 60%;
}

.skill-bars li .percent65 {
    width: 65%;
}

.skill-bars li .percent70 {
    width: 70%;
}

.skill-bars li .percent75 {
    width: 75%;
}

.skill-bars li .percent80 {
    width: 80%;
}

.skill-bars li .percent85 {
    width: 85%;
}

.skill-bars li .percent90 {
    width: 90%;
}

.skill-bars li .percent95 {
    width: 95%;
}

.skill-bars li .percent100 {
    width: 100%;
}


/* project */
#projects {
    background: #f1f0f0;
    padding: 2.7rem 0 2.7rem;


}

#projects .cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    gap: 9%;
}

#projects>h3 {
    text-align: center;
    margin-bottom: 1.9rem;
    color: #00ffbf;
}

#projects .card {
    width: 290px;
    border: 2px solid #d3d7e2;
    border-radius: 8px;
    height: 19rem;
    overflow: hidden;
}
#projects .card:hover{
    border-color: #05f7ba;
}
.card-img {
    height: 100%;
}

.card-img img {
    width: 100%;
    height: 100%;
}

/* .card h4,
.card h3 {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: 1rem;
    color: #2B283A;
} */

.card h3 {
    text-transform: uppercase;
}

.card h4 {
    font-size: .9rem;
}


/* services */
#services {
    background: #313131 url(./image/intro-bg.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
    position: relative;
    z-index: 88;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#services .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #151515;
    opacity: .9;
}

.service-content {

    z-index: 777;
    position: relative;
    max-width: 800px;

}

#services h1 {
    color: white;
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 10px;
}

#services h5 {
    color: #05f7ba;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

/* form */
.form-conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-conatiner h5 {
    color: #05f7ba;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.form-conatiner h3 {
    font-size: 1.9rem;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    width: 500px;
    margin-bottom: 1.3rem;
    padding: 1.2rem;
    border: none;
    border-bottom: 2px solid #647c76;
    outline: none;
}

form textarea {
    border: none;
    border-bottom: 2px solid #647c76;
    margin-bottom: 1.3rem;
    padding: 1.2rem;
    outline: none;
}

form input:focus,
form textarea:focus {
    border-bottom: 2px solid #05f7ba;
}

textarea::placeholder {
    font-size: 1.04rem;

}

form button {
    width: 500px;
    border: none;
    font-weight: 700;
    font-size: 1.06rem;
    padding: 1.2rem .9rem;
    margin-bottom: 1.3rem;
    background: linear-gradient(to right, #05f7ba, #647c76);
}

footer {
    width: 100%;
    margin-bottom: 0;
    padding-block: 10px;
    padding-left: 30px;
    background-color: #151515;
    color: #f1f0f0;
    margin-top: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
footer button{
    position: absolute;
    right: 2rem;
    height: 77%;
    padding-inline: .44rem;
    font-size: 1.05rem;
    border: none;
    border-radius: 4px;
}
footer button a{
    color: #111111;
    font-weight: 600;
}
footer button:hover{
    background-color: #05f7ba;
    color: #151515;
    border: transparent;
}

@media (max-width:700px) {
    .nav-right {
        position: fixed;
        height: 100%;
        width: 50vw;
        top: 0;
        right: 0;
        background-color: #ffffff;
        z-index: 9999;
        padding-top: 60px;
        flex-direction: column;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), -3px -3px 6px rgba(0, 0, 0, 0.6);
        transform: translateX(100%);
        transition: all .5s ease-in-out;
    }

    .open {
        transform: translate(0);
    }

    .nav-close {
        display: block;
    }

    .menu {
        display: block;
    }

    .nav-overlay {
        position: absolute;
        z-index: 6668;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        opacity: 75%;
        display: none;

    }

    .nav-overlay.view {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        gap: 23px;
    }

    nav ul li:hover {
        transform: scale(1, 1.1);
        /* padding-left: 5px; */
    }

    .toggler {
        padding-left: 25px;
    }


    .intro-info {
        flex-direction: column;
        margin-top: 1rem;
        gap: 2rem;
    }

    .intro-info .lead {
        text-align: center;
        padding-inline: 1rem;
    }

    .about-skills {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-left: 2rem;
    }

    .about-content>h3 {
        padding-bottom: 30px;
    }

    #projects .cards {
        /* flex-direction: column; */
        align-items: center;
        gap: 1.4rem;
    }

    #services .lead {
        padding-left: 1rem;
    }

    form {
        align-self: flex-start;
        width: 100%;
    }

    form input,
    textarea,
    form button {
        width: 70%;
        margin-left: 2rem;
    }

    .skiils {
        width: 60%;
    }

    .intro-social {
        font-size: 30px;
    }
}
@media (max-width:590px){
    #projects .cards {
        flex-direction: column;
    }
}

@media (max-width:475px) {
    .intro-content h1 {
        font-size: 40px;
    }

    .intro-content h5 {
        font-size: 30px;
    }

    .intro-position span {
        font-size: 21px;
    }

    .intro-content .button {
        padding: 0 1.5rem;
    }

    .intro-social li {
        margin: 0 14px;
    }

    #projects .cards {
        flex-direction: column;
    }

    .skiils {
        width: 72%;
    }

    .nav-right {
        width: 68vw;
    }
}
